<app-header></app-header>

<div id = 'addWarrantyType'>
  <div class="row" style="padding-top: 10px"><div class="col-md-12 col-form-label text-center align-items-center"><h4>Add Warranty Type</h4></div></div>
  <div class="row" style="padding: 10px">
    <div class="offset-md-1 col-md-10" style="border: solid rgba(214,214,216,0.36); padding: 20px">
      <form [formGroup]="warrantyTypeForm" (ngSubmit)="onSubmit()">

        <div class="form-group row border-bottom">
          <label class="col-sm-4 col-form-label">Warranty Type Description</label>
          <div class="col-sm-8">
            <input type="text" style="width: 300px" formControlName ="label" required>
          </div>
        </div>

        <div class="form-group row border-bottom">
          <label class="col-sm-4 col-form-label">Options Applicable for this type</label>
          <div class="col-sm-8">
            <select formControlName = "type"  required>
              <option *ngFor="let type of service.coverType" [value]="type" [selected]="this.warrantyTypeForm.value.type === type">{{type}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row border-bottom">
          <label class="col-sm-4 col-form-label">Image</label>
          <div class="col-sm-8">
            <app-image-loader [imagePath]="imagePath" [beforeImageLoadFn]="imageLoadingStarted" [afterImageLoadFn]="imageLoaded" [comp]="comp"></app-image-loader>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" [disabled]="!warrantyTypeForm.valid" class="btn btn-success">Submit</button>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>

<div id="coverList">
  <div class="row" style="padding-top: 20px; padding-left: 10px; margin-bottom: -20px">
    <div class="offset-2 col-md-3">
      <h3>Warranty Types</h3>
    </div>
  </div>
  <div class="row animate" style="padding: 10px">
    <div class="row offset-2 col-md-8">
      <table class="table table-hover">
        <tr class="bg-light">
          <td>Label</td>
          <td>Type</td>
          <td>Image</td>
        </tr>
        <tr *ngFor="let iWarrantycover of service.warrantyCovers">
          <td>{{iWarrantycover.label}}</td>
          <td>{{iWarrantycover.type}}</td>
          <td><img src="{{iWarrantycover.warrantyCoverIcon}}" width="100" height="100"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
