<app-header></app-header>
This is Home page of Scampii
<div class="offset-4 col-md-4 row">
  <div *ngIf="service.getBackendURL() === service.getProdURL()">
    <p>Switch to Dev Backend</p>
    <button (click)="switchToDev()">Dev</button></div>
</div>
<div class="offset-4 col-md-4 row">
  <div *ngIf="service.getBackendURL() === service.getDevURL()">
    <p>Switch to Prod Backend</p>
    <button (click)="switchToProd()">Prod</button>
  </div>
</div>
