<app-header></app-header>
<div>
  <div class="row" style="padding-top: 20px; padding-left: 10px; margin-bottom: -20px">
    <div class="offset-2 col-md-3">
      <h3>Products</h3>
    </div>
    <div class="col-md-1" style="color: rgba(127,127,127,0.67);">
      <h2 placement="top" ngbTooltip="Add New Product" (click)="gotoAddProduct()">+</h2>
    </div>
    <div class="col-md-2" style="color: rgba(127,127,127,0.67);">
      <label for="file" class="btn  btn-outline-primary">Upload Products</label>
      <input id="file" style="visibility:hidden;" type="file"  (change)="uploadedFile($event)" placeholder="Upload file" accept=".xlsx">
    </div>
    <div class="col-md-1" style="padding-left: 40px">
      <div>
        <input type="text" class="form-group form-control form-rounded" style="width: 150px" placeholder="search" [(ngModel)]="query" (keyup)="initiateSearch($event)">
      </div>
    </div>
  </div>
  <div class="row animate" style="padding: 10px">
    <div class="row offset-2 col-md-8">
      <table class="table table-hover">
        <tr class="bg-light">
          <td>Description</td>
          <td>CountryCode</td>
          <td>Manufacturer</td>
          <td>Model</td>
          <td>Type</td>
          <td>Warranty Template</td>
          <td>Factory Warranty Duration</td>
          <td>Image</td>
        </tr>
        <tr *ngFor="let product of service.products | listFilter: query">
          <td><a [routerLink]="['/product', product._id]">{{product.modelDesc}}</a></td>
          <td>{{product.countryCode}}</td>
          <td>{{product.manuName}}</td>
          <td>{{product.productModel}}</td>
          <td>{{product.type}}</td>
          <td>{{product.warranty.name}}</td>
          <td>{{product.warranty.warrantyTypeDuration}}</td>
          <td><img src="{{product.image}}" height="50" width="100"></td>
        </tr>
      </table>
    </div>
  </div>
</div>


