<div class="row">
  <div class="offset-5 col-md-5"><h5>Warranty Details</h5></div>
</div>
<div class="col-md-12" style="border: solid rgba(214,214,216,0.36); padding-bottom: 20px">


  <div class="col-md-12">

    <div class="form-group row border-bottom font-weight-bold bg-light" style="padding: 5px">
      <label class="col-sm-2">Warranty Label</label>
      <div class="col-sm-2">
        Warranty Type
      </div>
      <div class="col-sm-2">
        Is Applicable
      </div>
      <div class="col-sm-2">
        Duration
      </div>
      <div class="col-sm-1 align-content-center align-items-center">
        Remove
      </div>
      <div class="col-sm-2">
        Image
      </div>
    </div>

    <app-warrant-cover *ngFor="let cover of service.warrantyCovers" [cover] = cover></app-warrant-cover>

  </div>
  <div class="form-group row border-bottom">
    <label class="col-sm-3 col-form-label">Warranty Type</label>
    <div class="col-sm-3">
      <select  [(ngModel)]="warrantyType"  [ngModelOptions]="{standalone: true}"  (ngModelChange)="setWarranty()">
        <option *ngFor="let wType of service.warrantyTypes" [value]="wType" [selected]="wType == warrantyType">{{wType}}</option>
      </select>
    </div>
    <label class="col-sm-3 col-form-label">Duration</label>
    <div class="col-sm-3">
      <input type="text" [(ngModel)]="warrantyTypeDuration" (ngModelChange)="setWarranty()" required>
    </div>
  </div>
</div>



