<app-header></app-header>
<div>
  <div class="row" style="padding-top: 20px; padding-left: 10px; margin-bottom: -20px">
    <div class="offset-2 col-md-3">
      <h3>Product Categories</h3>
    </div>
    <div class="offset-2 col-md-1" style="color: rgba(127,127,127,0.67);">
      <h2 placement="top" ngbTooltip="Add New Category" (click)="addCategory()">+</h2>
    </div>
  </div>
  <div class="row animate" style="padding: 10px">
    <div class="row offset-2 col-md-8">
      <table class="table table-hover">
        <tr class="bg-light">
          <td>Name</td>
          <td>Image</td>
        </tr>
        <tr *ngFor="let product of service.products | listFilter: query">
          <td><a [routerLink]="['/product', product._id]">{{product.modelDesc}}</a></td>
          <td><img src="{{product.image}}" height="50" width="100"></td>
        </tr>
      </table>
    </div>
  </div>
</div>


