<app-header></app-header>

<div class="container-fluid">
  <div
    class="offset-md-1 col-md-10"
    style="border: solid rgba(214, 214, 216, 0.36); padding: 20px"
  >
    <form [formGroup]="templateForm" (ngSubmit)="onSubmit()">
      <div class="row border-bottom justify-content-around">
        <div class="form-group row">
          <label>Template Title <span class="text-danger">*</span></label>
          <div>
            <input
              class="form-control"
              type="text"
              style="width: 100%; margin-left: 10px"
              placeholder="Enter Template Name"
              formControlName="templateTitle"
              [class.is-invalid]="
                templateTitle.invalid && templateTitle.touched
              "
            />
            <small
              class="text-danger"
              [class.d-none]="templateTitle.valid || templateTitle.untouched"
              >Template title is required</small
            >
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <button
              type="button"
              class="btn btn-primary btn-sm"
              [disabled]="!templateForm.valid"
              (click)="onSubmit('check')"
            >
              Check Target Audience
            </button>
          </div>
          <div class="col-sm">
            <p>{{ targetReceipients}}</p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <p>Please select Alert type<span class="text-danger">*</span></p>
        <div class="form-group row justify-content-around">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              id="oneTime"
              value="OneTime"
              formControlName="alertType"
              (change)="handleAlertType($event)"
            />
            <label class="form-check-label" for="alertType"> One time </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              id="scheduledWarranty"
              value="scheduledWarranty"
              formControlName="alertType"
              (change)="handleAlertType($event)"
            />
            <label class="form-check-label" for="alertType">
              Warranty / Service Contract
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              id="scheduledActivity"
              value="scheduledServiceActivity"
              formControlName="alertType"
              (change)="handleAlertType($event)"
            />
            <label class="form-check-label" for="alertType">
              Service Activity
            </label>
          </div>
        </div>
      </div>

      <div class="p-2 bg-secondary text-white row justify-content-center">
        People are in
      </div>
      <div class="row border-bottom justify-content-around">
        <div class="form-group">
          <label class="col-form-label" for="country"
            >Country<span class="text-danger">*</span></label
          >
          <ng-multiselect-dropdown
            [placeholder]="'Select one or more'"
            [settings]="dropdownSettings"
            [data]="countryList"
            (onSelect)="onCountrySelect($event)"
            (onSelectAll)="onCountrySelect($event)"
            (onDeSelect)="onCountrySelect($event)"
            formControlName="country"
          >
          </ng-multiselect-dropdown>
          <small
            class="text-danger"
            [class.d-none]="country.valid || country.untouched"
            >Country is required</small
          >
        </div>

        <div class="form-group">
          <label class="col-form-label" for="city">City</label>
          <ng-multiselect-dropdown
            [placeholder]="'Select one or more'"
            [settings]="dropdownSettings"
            [data]="cityList"
            formControlName="city"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>

      <div class="p-2 bg-secondary text-white row justify-content-center">
        The item(s)
      </div>
      <div>
        <div
          class="form-group row justify-content-around"
          style="margin-top: 10px"
        >
          <div class="form-check mb-3">
            <input
              class="form-check-input"
              type="radio"
              [value]="true"
              formControlName="itemHave"
              (change)="handlePurchaseDurationValidation('true')"
            />
            <label class="form-check-label"> They have </label>
          </div>
          <div class="form-check mb-3" *ngIf="selectedAlertType === 'OneTime'">
            <input
              class="form-check-input"
              type="radio"
              [value]="false"
              formControlName="itemHave"
              (change)="handlePurchaseDurationValidation('false')"
            />
            <label class="form-check-label"> They don't have </label>
          </div>
          <div class="row">
            <div class="col-sm">
              <label>Item purchase <br />is more than (in months)</label>
            </div>
            <div class="col-sm">
              <input
                class="form-control"
                type="text"
                style="width: 200px"
                placeholder="Enter no. of months"
                formControlName="purchaseDuration"
                [class.is-invalid]="
                  purchaseDuration.invalid && purchaseDuration.touched
                "
              />
              <small
                class="text-danger"
                [class.d-none]="
                  purchaseDuration.valid || purchaseDuration.untouched
                "
                >Purchase Duration is invalid</small
              >
            </div>
          </div>
        </div>

        <div class="row justify-content-around">
          <div class="form-group">
            <label class="col-form-label" for="productCategory"
              >Product Category<span class="text-danger">*</span></label
            >
            <ng-multiselect-dropdown
              [placeholder]="'Select one or more'"
              [settings]="dropdownSettings"
              [data]="service.notificationProductTypes"
              formControlName="productCategory"
            >
            </ng-multiselect-dropdown>
            <small
              class="text-danger"
              [class.d-none]="
                productCategory.valid || productCategory.untouched
              "
              >Product Category is required</small
            >
          </div>
          <div class="form-group">
            <label class="col-form-label" for="manufacturer"
              >Manufacturer<span class="text-danger">*</span></label
            >
              <ng-multiselect-dropdown
              [placeholder]="'Select one or more'"
              [settings]="dropdownSettings"
              [data]="service.notificationManus"
              formControlName="manufacturer"
            >
            </ng-multiselect-dropdown>
            
              <small
                class="text-danger"
                [class.d-none]="manufacturer.valid || manufacturer.untouched"
                >Manufacturer is required</small
              >
          </div>
          <div class="form-group">
            <label class="text-center">Product Description Contains</label>
            <div class="form-group row">
              <input
                class="form-control"
                type="text"
                style="width: 300px"
                placeholder="Type Description"
                formControlName="productDescription"
                [(ngModel)]="productDesc"
              />
              <button
                type="button"
                class="btn btn-light"
                style="padding: 0px"
                (click)="addSearchString()"
              >
                <h3>+</h3>
              </button>
            </div>
            <ul
              class="list-group"
              *ngFor="let desc of searchStringArray; let index = index"
            >
              <li
                class="
                  list-group-item list-group-item-dark
                  d-flex
                  justify-content-around
                  align-items-center
                "
              >
                {{ desc }}
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="removeSearchString(index)"
                >
                  ×
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="p-2 bg-secondary text-white row justify-content-center"
        *ngIf="selectedAlertType === 'scheduledWarranty'"
      >
        The Warranty/Service Contract
      </div>
      <div
        class="row justify-content-around"
        *ngIf="selectedAlertType === 'scheduledWarranty'"
      >
        <p>The ACTIVE warranty or service contract</p>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="expired"
            [value]="true"
            checked
            formControlName="expiry"
            (click)="serviceRadioHandler('true')"
          />
          <label class="form-check-label" for="expired"> Has Expired </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="expiryDuration"
            [value]="false"
            formControlName="expiry"
            (click)="serviceRadioHandler('false')"
          />
          <label class="form-check-label" for="expiryDuration">
            Will Expire in
          </label>
          <div class="form-group" *ngIf="selectedExpiry === 'false'">
            <div class="row">
              <div class="col-sm">
                <input
                  class="form-control"
                  type="text"
                  style="width: 200px"
                  placeholder="Enter duration"
                  formControlName="expiryDuration"
                  [class.is-invalid]="
                    expiryDuration.invalid && expiryDuration.touched
                  "
                />
                <small
                  class="text-danger"
                  [class.d-none]="
                    expiryDuration.valid || expiryDuration.untouched
                  "
                  >Expiry Duration is invalid</small
                >
              </div>
              <div>
                <select
                  class="custom-select"
                  id="expiryDuration"
                  formControlName="isWeekWarranty"
                >
                  <option value="true">weeks</option>
                  <option value="false">months</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="p-2 bg-secondary text-white row justify-content-center"
        *ngIf="selectedAlertType === 'scheduledServiceActivity'"
      >
        The Service Activity
      </div>

      <div
        class="row justify-content-around"
        *ngIf="selectedAlertType === 'scheduledServiceActivity'"
      >
        <p>The ACTIVE service Activity</p>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="activityExpired"
            [value]="true"
            checked
            formControlName="activityExpiry"
            (click)="serviceActivityRadioHandler('true')"
          />
          <label class="form-check-label" for="activityExpired">
            Past Scheduled Date
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="activityExpiryDuration"
            [value]="false"
            formControlName="activityExpiry"
            (click)="serviceActivityRadioHandler('false')"
          />
          <label class="form-check-label" for="activityExpiryDuration">
            Will Start
          </label>
          <div class="form-group" *ngIf="selectedActivityExpiry === 'false'">
            <div class="row">
              <div class="col-sm">
                <input
                  class="form-control"
                  type="text"
                  style="width: 200px"
                  placeholder="Enter duration"
                  formControlName="activityExpiryDuration"
                  [class.is-invalid]="
                    activityExpiryDuration.invalid &&
                    activityExpiryDuration.touched
                  "
                />
                <small
                  class="text-danger"
                  [class.d-none]="
                    activityExpiryDuration.valid ||
                    activityExpiryDuration.untouched
                  "
                  >Expiry Duration is invalid</small
                >
              </div>
              <div>
                <select
                  class="custom-select"
                  id="activityExpiryDuration"
                  formControlName="isWeekServiceActivity"
                >
                  <option value="true">weeks</option>
                  <option value="false">months</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="form-group row justify-content-around"
        style="margin-top: 10px"
        *ngIf="
          selectedAlertType === 'scheduledServiceActivity' ||
          selectedAlertType === 'scheduledWarranty'
        "
      >
        <div class="form-group">
          <label class="col-form-label">Select Timezone</label>
          <ng-multiselect-dropdown
            [placeholder]="'Select timezone'"
            [settings]="timeZoneDropdownSettings"
            [data]="allTimezones"
            formControlName="timeZone"
          >
          </ng-multiselect-dropdown>
          <small
            class="text-danger"
            [class.d-none]="timeZone.valid || timeZone.untouched"
            >Timezone is required</small
          >
        </div>
        <div class="form-group">
          <label class="col-form-label">Schedule Time</label>
          <div>
            <input
              type="time"
              value="{{ selectedTime }}"
              (click)="openTimePicker()"
            />
          </div>
        </div>
      </div>
      <div class="form-group row justify-content-around">
        <button
          type="submit"
          class="btn btn-primary rounded"
          [disabled]="!templateForm.valid"
        >
          Save & Send
        </button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
