<app-header></app-header>
<div>
  <div class="offset-2 row">
    <div
      class="row"
      style="padding-top: 20px; padding-left: 10px; margin-bottom: -20px"
    >
      <div class="col-md-1" style="color: rgba(127, 127, 127, 0.67)">
        <h2
          placement="top"
          ngbTooltip="Add New Template"
          (click)="gotoAddEditTemplate()"
        >
          +
        </h2>
      </div>

      <div class="col-md-1">
        <div>
          <input
            type="text"
            class="form-group form-control form-rounded"
            style="width: 150px"
            placeholder="search"
            [(ngModel)]="query"
            (keyup)="initiateSearch($event)"
          />
        </div>
      </div>
    </div>

    <div class="form-group offset-md-4">
      <div class="form-group">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="all"
            value="all"
            name="enable"
            checked
            [(ngModel)]="selectedFilter"
            (change)="handleEnableDisable($event)"
          />
          <label class="form-check-label" for="enable">Show All</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="enabled"
            value="enabled"
            name="enable"
            [(ngModel)]="selectedFilter"
            (change)="handleEnableDisable($event)"
          />
          <label class="form-check-label" for="enable">
            Show Enabled only
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="disabled"
            value="disabled"
            name="enable"
            [(ngModel)]="selectedFilter"
            (change)="handleEnableDisable($event)"
          />
          <label class="form-check-label" for="enable">
            Show Disabled only
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row animate" style="padding: 10px">
    <div class="row offset-2 col-md-8">
      <table class="table table-hover">
        <tr class="bg-primary">
          <th colspan="3">Alert Templates</th>
        </tr>
        <tr
          *ngFor="
            let template of service.templates | listFilter: query;
            let i = index
          "
        >
          <td>
            <a [routerLink]="['/template', template._id]">{{
              template.template
            }}</a>
          </td>
          <td>
            {{ template.alertType }}
          </td>
          <td>
            <div class="custom-control custom-switch">
              <input
                type="checkbox"
                class="custom-control-input"
                [checked]="template.enable"
                id="{{ i }}"
                (change)="toggleEnable(template.enable, template._id)"
              />
              <label
                *ngIf="template.enable"
                class="custom-control-label"
                for="{{ i }}"
                >Enabled</label
              >
              <label
                *ngIf="!template.enable"
                class="custom-control-label"
                for="{{ i }}"
                >Disabled</label
              >
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
