<div class="form-group row">
  <div class="col-sm-12">
    <input type="file" (change)="onFileChanged($event)" name="logo">
  </div>
  <div class="col-sm-12">
    <img src={{imagePath}} id = 'imgDetails' height="100px" width="100px"/>
  </div>
</div>

