

<div class="form-group row border-bottom">
  <label class="col-sm-2 col-form-label">{{cover.label}}</label>
  <div class="col-sm-2">
    <select [(ngModel)]="cover.type" [ngModelOptions]="{standalone: true}" (ngModelChange) = "changeApplicable()">
      <option *ngFor="let cType of service.coverType" [value]="cType" [selected]="cType === cover.type">{{cType}}</option>
    </select>
  </div>
  <div class="col-sm-2" >
    <div [hidden]= "!isApplicable()">
      <select [(ngModel)]="cover.value" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let yesNo of service.yesNo" [value]="yesNo" [selected]="yesNo === cover.value">{{yesNo}}</option>
      </select>
    </div>
  </div>
  <div class="col-sm-2" (show)="isApplicable()">
    <div [hidden]="isApplicable()" >
      <input type="number"  [(ngModel)]="cover.duration"  [ngModelOptions]="{standalone: true}" >
    </div>

  </div>

  <div class="col-sm-1" (show)="isApplicable()">
    <h2 placement="top" ngbTooltip="DeleteWarranty" class="text-danger text-center" (click)="deleteWarranty()">-</h2>
  </div>
  <div class="col-sm-2" (show)="isApplicable()">
  <img src = "{{cover.warrantyCoverIcon}}" height="100" width="100"/>
  </div>

</div>
