<app-header></app-header>

<div id = 'addManu'>
    <div class="row" style="padding-top: 10px"><div class="col-md-12 col-form-label text-center align-items-center"><h4>Add Manufacturer</h4></div></div>
    <div class="row" style="padding: 10px">
      <div class="offset-md-2 col-md-8" style="border: solid rgba(214,214,216,0.36); padding: 20px">
        <form [formGroup]="manuForm" >

          <div class="form-group row border-bottom">
            <label class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-8">
              <input type="text"  formControlName ="manuName" required>
            </div>
          </div>
          <div class="form-group row border-bottom">
            <label class="col-sm-4 col-form-label">Image</label>
            <div class="col-sm-8">
              <app-image-loader [imagePath]="imagePath" [beforeImageLoadFn]="imageLoadingStarted" [afterImageLoadFn]="imageLoaded" [comp]="comp"></app-image-loader>
            </div>
          </div>

          <div id="productDocuments" class="border-light">
            <div class="offset-2 col-md-1" style="color: rgba(127,127,127,0.67);">
              <h2 placement="top" ngbTooltip="Add New Service Center" (click)="openServiceCenterPopup(servicesContent)">+</h2>
            </div>
            <div class="row animate" style="padding: 10px">
              <div class="row offset-2 col-md-8">
                <table class="table table-hover">
                  <tr class="bg-light">
                    <td>Address</td>
                    <td>Country Code</td>
                    <td>Customer Care numbers</td>
                    <td>Website</td>
                    <td>Edit</td>
                    <td>Remove</td>
                  </tr>
                  <tr *ngFor="let center of serviceCenters">
                    <td>{{center.address}}</td>
                    <td>{{center.countryCode}}</td>
                    <td>{{center.custCareNums}}</td>
                    <td>{{center.website}}</td>
                    <td><button class="alert-warning" (click)="editServiceCenter(center, servicesContent)">Edit</button></td>
                    <td><button class="alert-danger" (click)="removeServiceCenter(center)">Remove</button></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-5">
              <button type="submit" [disabled]="!manuForm.valid || disableSubmit" class="btn btn-success" (click)="onSubmit()">Submit</button>
            </div>
<!--            <div class="col-sm-5">-->
<!--              <div class="btn btn-success" (click)="applyContentPopup(content)">Add Service Center</div>-->
<!--            </div>-->
          </div>
          <p *ngIf="!manuForm.valid">
            <ngb-alert [dismissible]="false">
              <strong>Alert!</strong> Name is mandatory.
            </ngb-alert>
          </p>
          <p *ngIf="service.isError">
            <ngb-alert [dismissible]="false">
              <strong>Alert!</strong> {{service.error.message}}.
            </ngb-alert>
          </p>
        </form>
      </div>

    </div>
  </div>

<ng-template #servicesContent let-modal >
  <div class="modal-header">
    <h4 class="modal-title" >Add New Service Center</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="serviceForm">
      <div class="form-group row">
        <label class="col-sm-4">Enter Country Code</label>
        <div class="input-group col-sm-4">
          <input class="form-control" placeholder="" formControlName="countryCode"  >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4">Customer Care Numbers</label>
        <div class="input-group col-sm-4">
          <input class="form-control" placeholder="" formControlName="custCareNums">
        </div>
      </div>
      <div class="form-group row">
        <.<label >Comma seperated customer care numbers</label>
      </div>

      <div class="form-group row">
        <label class="col-sm-4">Whats app Numbers</label>
        <div class="input-group col-sm-4">
          <input class="form-control" placeholder="" formControlName="whatsappNumbers">
        </div>
      </div>
      <div class="form-group row">
        <label >Comma seperated whats app numbers</label>
      </div>

      <div class="form-group row">
        <label class="col-sm-4">Website</label>
        <div class="input-group col-sm-4">
          <input class="form-control" placeholder="" formControlName="website">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4">Service Center Address</label>
        <div class="input-group col-sm-4">
          <input class="form-control" placeholder="" formControlName="address">
        </div>
      </div>

      <div class="form-group row">
        <label >GPS Location</label>
      </div>
      <div class="form-group row">
        <label class="col-sm-4">Latitude</label>
        <div class="input-group col-sm-4">
          <input class="form-control" placeholder="" formControlName="lat">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4">Longitude</label>
        <div class="input-group col-sm-4">
          <input class="form-control" placeholder="" formControlName="lng">
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save')" >Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Skip')" >Cancel</button>
  </div>
</ng-template>

