<app-header></app-header>
<div id = 'config'>
  <div class="row" style="padding-top: 10px"><div class="col-md-12 col-form-label text-center align-items-center"><h4>Configurations</h4></div></div>
  <div class="row" style="padding: 10px">
    <div class="offset-md-1 col-md-10" style="border: solid rgba(214,214,216,0.36); padding: 20px">

      <div class="form-group row border-bottom">
        <div class="col-sm-3">
          <label> Key </label>
        </div>
        <div class="col-sm-7">
          <label  style="width: 600px">Value</label>
        </div>
        <div class="col-sm-2">
          <label>Action</label>
        </div>
      </div>

        <div  *ngFor="let config of configurations">
          <div class="form-group row border-bottom">
            <div class="col-sm-3">
              <input type="text"  [(ngModel)]="config.key" required>
          </div>
            <div class="col-sm-7">
              <input type="text" style="width: 600px" [(ngModel)]="config.value" required>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-sm btn-danger" (click)="removeConfig(config)">Remove Config</button>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2">
            <button class="btn btn-success" (click)="addConfig()">Add Config</button>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-success" (click)="submitConfig()">Submit</button>
          </div>
        </div>

    </div>

  </div>
</div>
