<app-header></app-header>

<div id = 'addProductCat'>
  <div class="row" style="padding-top: 10px"><div class="col-md-12 col-form-label text-center align-items-center"><h4>Add Product Type</h4></div></div>
  <div class="row" style="padding: 10px">
    <div class="offset-md-1 col-md-10" style="border: solid rgba(214,214,216,0.36); padding: 20px">
      <form [formGroup]="productCatForm" (ngSubmit)="onSubmit()">

        <div class="form-group row border-bottom">
          <label class="col-sm-4 col-form-label">Product Category</label>
          <div class="col-sm-8">
            <input type="text" style="width: 300px" formControlName ="type" required>
          </div>
        </div>

        <div class="form-group row border-bottom">
          <label class="col-sm-4 col-form-label">Image</label>
          <div class="col-sm-8">
            <app-image-loader [imagePath]="imagePath" [beforeImageLoadFn]="imageLoadingStarted" [afterImageLoadFn]="imageLoaded" [comp]="comp"></app-image-loader>
          </div>
        </div>

         <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" [disabled]="!productCatForm.valid" class="btn btn-success">Submit</button>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>

<div id="coverList">
  <div class="row" style="padding-top: 20px; padding-left: 10px; margin-bottom: -20px">
    <div class="offset-2 col-md-3">
      <h3>Product Types</h3>
    </div>
  </div>
  <div class="row animate" style="padding: 10px">
    <div class="row offset-2 col-md-8">
      <table class="table table-hover">
        <tr class="bg-light">
          <td>Type</td>
          <td>Image</td>
        </tr>
        <tr *ngFor="let typeObj of service.productTypes">
          <td>{{typeObj.type}}</td>
          <td><img src="{{typeObj.image}}" width="100" height="100"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
