<div class="form-group row border-bottom">
  <label class="col-sm-4 col-form-label">{{key}}</label>
  <div class="col-sm-8">
    <input type="text" style="width: 300px" formControlName ="value" required>
  </div>
</div>
