<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"  (click)="router.navigate(['/manus']);">Manufacturer</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"  (click)="router.navigate(['/products']);">Product</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"  (click)="router.navigate(['/productCategories']);">Product Categories</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"  (click)="router.navigate(['/warrantyCovers']);">Warranty Types</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"  (click)="router.navigate(['/alerts']);">Alerts</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"  (click)="router.navigate(['/config']);">Configurations</a>
      </li>
      <li>
        <div *ngIf="service.isAuthenticated()===true">
        <button type="button" (click)="signOut()" class="btn btn-primary">Sign Out</button>
        </div>
        <div *ngIf="service.getBackendURL() === service.getProdURL()">
          <p class="alert-danger"> This is Prod Account</p>
        </div>
        <div *ngIf="service.getBackendURL() === service.getDevURL()">
          <p class="alert-info"> This is Dev Account</p>
        </div>
      </li>
    </ul>
  </div>
</nav>
