<app-header></app-header>

<div id = 'addProd'>
  <div class="row" style="padding-top: 10px"><div class="col-md-12 col-form-label text-center align-items-center"><h4>Add Product</h4></div></div>
  <div class="row" style="padding: 10px">
    <div class="offset-md-1 col-md-10" style="border: solid rgba(214,214,216,0.36); padding: 20px">
      <form [formGroup]="prodForm" (ngSubmit)="onSubmit()">

        <div class="form-group row border-bottom">
          <label class="col-sm-4 col-form-label">Name</label>
          <div class="col-sm-8">
            <label class="col-sm-4 col-form-label">
              {{this.getMenuName()}}&nbsp;{{this.prodForm.value.modelDesc}}
              &nbsp;{{this.prodForm.value.productType}}&nbsp;{{this.prodForm.value.productModel}}
            </label>
          </div>
        </div>

        <div class="form-group row border-bottom">
          <label class="col-sm-4 col-form-label">Type</label>
          <div class="col-sm-8">
            <select formControlName = "productType"  required>
              <option *ngFor="let ty of service.productTypes" [value]="ty.type" [selected]="this.prodForm.value.productType === ty.type">{{ty.type}}</option>
            </select>
          </div>
        </div>


        <div class="form-group row border-bottom">
          <label class="col-sm-4 col-form-label">Country Code</label>
          <div class="col-sm-8">
            <select formControlName ="countryCode"  required >
              <option *ngFor="let cc of service.countryCodes" [value]="cc.code" [selected]="cc.code === this.prodForm.value.countryCode">{{cc.country}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row border-bottom">
          <label class="col-sm-4 col-form-label">Manufacturer</label>
          <div class="col-sm-8">
            <select [(ngModel)]="manufacturer"  [ngModelOptions]="{standalone: true}">
              <option *ngFor="let menu of service.menus" [value]="menu._id" [selected]="menu._id === manufacturer">{{menu.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row border-bottom">
          <label class="col-sm-4 col-form-label">Product Model</label>
          <div class="col-sm-8">
            <input type="text" style="width: 300px" formControlName ="productModel" required>
          </div>
        </div>

        <div class="form-group row border-bottom">
          <label class="col-sm-4 col-form-label">Description</label>
          <div class="col-sm-8">
            <textarea style="width: 300px;"  formControlName ="modelDesc" required ></textarea>
          </div>
        </div>

        <div class="form-group row border-bottom">
          <label class="col-sm-4 col-form-label">Image</label>
          <div class="col-sm-8">
            <app-image-loader [imagePath]="imagePath" [beforeImageLoadFn]="imageLoadingStarted" [afterImageLoadFn]="imageLoaded" [comp]="comp"></app-image-loader>
          </div>
        </div>



        <div class="form-group row border-bottom">
          <label class="col-sm-4 col-form-label">Select Warranty Template</label>
          <div class="col-sm-8">
            <select [(ngModel)]="warTemplate"  [ngModelOptions]="{standalone: true}" (ngModelChange) = "applyWarTemplate(content)">
              <option *ngFor="let template of service.warrantyTemplates" [value]="template.name" [selected]="template.name === warTemplate">{{template.name}}</option>
            </select>
          </div>
        </div>

        <div id="productDocuments" class="border-light">
          <div class="offset-2 col-md-1" style="color: rgba(127,127,127,0.67);">
            <h2 placement="top" ngbTooltip="Add New Document" (click)="openDocumentPopup(docContent)">+</h2>
          </div>
          <div class="row animate" style="padding: 10px">
            <div class="row offset-2 col-md-8">
              <table class="table table-hover">
                <tr class="bg-light">
                  <td>Document Label</td>
                  <td>Document URL</td>
                  <td>Remove</td>
                </tr>
                <tr *ngFor="let document of productDocuments">
                  <td>{{document.documentLabel}}</td>
                  <td>{{document.documentURL}}</td>
                  <td><button class="alert-danger" (click)="removeProdDocument(document)">Remove</button></td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <app-warranty [product]="comp"></app-warranty>

        <p *ngIf="!prodForm.valid">
          <ngb-alert [dismissible]="false">
            <strong>Alert!</strong> Enter all fields.
          </ngb-alert>
        </p>

        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" [disabled]="!prodForm.valid || disableSubmit" class="btn btn-success" (click)="applyContentPopup(content)">Submit</button>
          </div>
        </div>


      </form>
    </div>

  </div>
</div>

<ng-template #content let-modal >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Template</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="templateName">Enter Template Name</label>
        <div class="input-group">
          <input id="templateName" class="form-control" placeholder="Template Name" [(ngModel)]="templateName" (ngModelChange) = "checkTemplateExists()" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save')" [disabled]="!isNameValid">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Skip')" >Don't Save Template</button>
  </div>
  <div><p class="alert-warning">{{templateNameStatus}}</p></div>
</ng-template>

<ng-template #docContent let-modal >
  <div class="modal-header">
    <h4 class="modal-title" >Add New Documentation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="docForm">
      <div class="form-group">
        <label for="templateName">Enter Document Label</label>
        <div class="input-group">
          <input class="form-control" formControlName="documentLabel"  >
        </div>
      </div>

      <div class="form-group">
        <label for="templateName">Enter Document URL</label>
        <div class="input-group">
          <input class="form-control" formControlName="documentURL" >
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save')" >Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Skip')" >Cancel</button>
  </div>
</ng-template>
