<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head><body class="bg-light">
<div class="container">
  <div class="row py-5 justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center py-4">Sign In with Facebook in Angular 8</h1>
      <div class="offset-4 col-md-4">
        <button type="button" (click)="signInWithGoogle()" class="btn btn-primary">Sign In With Google</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
