<app-header></app-header>
<div id="menuList">
  <div class="row" style="padding-top: 20px; padding-left: 10px; margin-bottom: -20px">
    <div class="offset-2 col-md-3">
      <h3>Manufacturers</h3>
    </div>
    <div class="offset-2 col-md-1" style="color: rgba(127,127,127,0.67);">
      <h2 placement="top" ngbTooltip="Add New Manufacturer" (click)="gotoAddManu()">+</h2>
    </div>
    <div class="col-md-1" style="padding-left: 40px">
      <div>
        <input type="text" class="form-group form-control form-rounded" style="width: 150px" placeholder="search" [(ngModel)]="query">
      </div>
    </div>
  </div>
  <div class="row animate" style="padding: 10px">
    <div class="row offset-2 col-md-8">
      <table class="table table-hover">
        <tr class="bg-light">
          <td>Name</td>
          <td>Logo</td>
          <td>Delete</td>
        </tr>
        <tr *ngFor="let menu of service.menus | listFilter: query">
          <td><a [routerLink]="['/manu', menu._id]">{{menu.name}}</a></td>
          <td><img src="{{menu.logo}}" height="50" width="100"></td>
          <td><button class="btn btn-sm btn-outline-danger btn-light" (click)="deleteManu(menu._id)">Delete</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
